/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'aos/dist/aos.css';

@font-face {
  font-family: 'Chopin';
  src: url('assets/font/Chopin-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-main: #ec268f;
  --color-secondary: #848688;
  --color-background: #eeedee;
  --color-text: #2f2f2f;
  --color-hover: #f4a6d6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Chopin', sans-serif;
}
